#root {
  max-width: 1280px;
  margin: 0 auto;
  height: 100%;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.url {
  display: flex;
}

iframe {
  border: none;
  width: 100%;
  height: 500px;
  padding: 20px;
}

article {
  padding: 20px;
}

input {
  height: 26px;
}
input, input:focus-visible {
  border-radius: 0;
  border: 0.8px solid grey;
  outline: -webkit-focus-ring-color auto 0;
}

.app-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}
footer {
  text-align: center;
  padding-bottom: 20px;
  margin-top: auto;
}

@media (max-width: 768px) {
  h1 {
    font-size: 1.2em;
  }
  #root {
    padding: 1rem;
  }
  button {
    font-size: 0.8em;
    margin-bottom: 8px;
    padding: 0.4em 1em;
  }
  button:nth-child(2) {
    margin-left: 0;
  }
  input {
    width: 100%;
    margin-bottom: 8px;
  }
  .url {
    display: block;
    width: 100%;
  }
  iframe {
    padding: 0px;
    height: 400px;
  }
  article {
    padding: 0;
  }
}

.title {
  text-align: center;
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1.5rem;
}
